.box-component {
  padding: 1dvw;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: 500px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .input-component,
  .password-component,
  .button-component {
    min-height: 30px;
  }
}

.box-component .button-component {
  color: black;
  background-color: var(--theme-400);
}
