.box-component {
  padding: 50px;
  border-radius: 3.6rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .input-component,
  .password-component,
  .button-component {
    min-height: 50px;
  }
}
