:root {
  --theme-0: #ffffff;
  --theme-100: #dee8fb;
  --theme-200: #c4d7f9;
  --theme-300: #9bbdf5;
  --theme-400: #6c9bee;
  --theme-500: #4977e8;
  --theme-600: #345bdc;
  --theme-700: #2a45c3;
  --theme-800: #293ba4;
  --theme-900: #263682;
  --theme-950: #1c244f;
  --theme-1000: #000000;

  --theme-error: #f44336;
  --theme-error-light: #e57373;
  --theme-error-dark: #d32f2f;

  --theme-warning: #ffa726;
  --theme-warning-light: #ffb74d;
  --theme-warning-dark: #f57c00;

  --theme-success: #66bb6a;
  --theme-success-light: #81c784;
  --theme-success-dark: #388e3c;

  --theme-modal-background: #222222;
}

body {
  background: var(--theme-950);
  color: var(--theme-0);
}
