:root {
  --theme-0: #ffffff;
  --theme-100: #dee8fb;
  --theme-200: #c4d7f9;
  --theme-300: #9bbdf5;
  --theme-400: #6c9bee;
  --theme-500: #4977e8;
  --theme-600: #345bdc;
  --theme-700: #2a45c3;
  --theme-800: #293ba4;
  --theme-900: #263682;
  --theme-950: #1c244f;
  --theme-1000: #000000;

  --theme-error: #f43f5e;
  --theme-error-dark: #4c0519;

  --theme-warning: #eab308;
  --theme-warning-dark: #422006;

  --theme-success: #22c55e;
  --theme-success-dark: #052e16;

  --theme-modal-background: #222222;
}

body {
  background: var(--theme-950);
  color: var(--theme-0);
}
