
:root {
  --theme-0: #ffffff;
  --theme-100: #dee8fb;
  --theme-200: #C4D7F9;
  --theme-300: #9bbdf5;
  --theme-400: #6c9bee;
  --theme-500: #4977e8;
  --theme-600: #345bdc;
  --theme-700: #2a45c3;
  --theme-800: #293ba4;
  --theme-900: #263682;
  --theme-1000: #000000;
}
