
@font-face {
  font-family: 'SF-Pro';
  src: url("/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'SF-Pro';
  src: url("/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}

* {
  font-family: 'SF-Pro', sans-serif;
}
