.sidebar-component {
  right: 0;
  padding: 50px;
  border-radius: 3.6rem;
  backdrop-filter: blur(10px);
  background: var(--theme-container-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: var(--theme-container-border);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-flow: column;

  .input-component,
  .password-component,
  .button-component {
    min-height: 50px;
  }
}
