.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--theme-1000);

  .icon-component {
    font-size: 1.5rem;
  }
}

.login-box {
  gap: 20px;
}

.login-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  color: var(--theme-0);
}

.login-form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  overflow: hidden;
}

.login-form .login-error {
  outline: 2px solid var(--theme-error-dark);
}

.login-form > * {
  flex: 1 0 40px;
}

.login-redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--theme-200);
  text-align: center;
}

