.textarea-component {
  background: var(--theme-0);
  padding: 4px 16px;
  border-radius: var(--border-radius);
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 100%;

  textarea {
    border: none;
    background: transparent;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: inherit;
  }

  textarea:focus {
    outline: none;
  }
}
