
.editable-component.input-component {
  width: max-content;
}

.editable-component {
  input[data-ison="0"] {
    display: none;
  }

  .editable-label[data-ison="1"] {
    display: none;
  }

  .editable-label[data-ison="0"] {
    display: flex;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: bold;

    .icon-component {
      font-size: 1.3rem;
      opacity: 0.5;
    }
  }
}
