.navbar-component {
  position: relative;
  background: var(--theme-100);
  color: var(--theme-1000);
  width: 100%;

  display: flex;
  flex-flow: column;

  .button-component {
    padding: 5px 10px;
    min-width: 100px;
  }
}

.navbar-bottom {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;

  font-size: 1.3rem;
  transition: transform 100ms linear;
  transform-origin: top left;
  padding: 0 10px;
  background: var(--theme-100);
  overflow: hidden;

  display: flex;
  flex-flow: column;
  align-items: center;

  .navbar-link {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

nav[data-state="close"] .navbar-bottom {
  transform: scaleY(0)
}

nav[data-state="open"] .navbar-bottom {
  transform: scaleY(1)
}

.navbar-bottom-actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.navbar-top {
  min-height: 70px;
  padding: 0px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar-top-left {
  display: flex;
  align-items: center;
}

.navbar-top-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5dvw;
  font-size: 1rem;
  white-space: nowrap;
}

.navbar-top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar-icon {
  cursor: pointer;
  font-size: 2rem;
}

