.navbar-component {
  background: var(--theme-100);
  width: 100%;

  display: flex;
  flex-flow: column;

  button {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 20px;
    min-width: 70px;
  }
}

.navbar-top {
  min-height: 70px;

  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;

}

.navbar-top-middle {
  display: flex;
  gap: 10dvw;
  font-size: 1.3rem;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top-right {
  display: flex;
  gap: 1rem;
}
