
.template-container {
  padding: 20px;
  height: 100%;
  gap: 20px;
  display: flex;

  .template-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .template-container-right {
    display: flex;
    align-items: stretch;
    min-width: 300px;
  }

  .template-sidebar {
    background: var(--theme-container-background);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: var(--theme-container-border);
    width: 100%;
    max-width: 500px;
    padding: 30px 10px;
    border-radius: 3.6rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;

    .template-panel {
      flex-grow: 1;
    }

    .template-save {
      padding: 10px 0;
    }
  }
}
