.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 10px;

  .icon {
    font-size: 2rem;
  }
}
