.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .signup-form {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 20px;
  }

  .signup-form > * {
    flex-grow: 1;
  }

  .signup-heading {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
}

.signup-box {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 40px;
  color: var(--theme-0);

  .icon {
    color: var(--theme-1000);
  }
}
