.input-component {
  background: var(--theme-0);
  padding: 4px 16px;
  border-radius: var(--border-radius);
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;

  input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
  }

  input:focus {
    outline: none;
  }
}
