.input-component {
  background: var(--theme-0);
  padding: 4px 8px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;

  input {
    border: none;
    background: transparent;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}
