.home-container {

  h3 {
    font-size: clamp(2rem, 5dvw, 2.5rem);
    font-weight: bold;
  }

  .hero1 {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .hero1text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .hero1text .heading {
    display: flex;
    gap: 5px;
    flex-flow: column;
    font-size: 80px;
  }

  .hero1text .heading .title {
    font-size: clamp(4rem, 10dvw, 6rem);
    font-weight: bold;
  }

  .hero1text .heading .subtitle {
    font-size: clamp(2rem, 10dvw, 3rem);
  }

  .buttons {
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 50px;
  }

  .buttons .button1 {
    width: max-content;
    font-size: 1.4rem;
    padding: 20px 30px;
  }

  .img1 {
    aspect-ratio: 1/1.05;
    width: 30dvw;

  }

  .hero2 {
    min-height: 85vh;
    display: flex;
  }

  .hero2text1 {
    height: 400px;
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .hero2text1 .heading {
    font-size: clamp(1.6rem, 5dvw, 2.3rem);
  }

  .hero2text1 .text2 {
    word-spacing: 2px;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .hero3 {
    min-height: 85vh;
  }

  .footer {
    border-radius: var(--border-radius);
    background: var(--theme-container-background);
    border: var(--theme-container-border);
    display: flex;
    gap: 10px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 5dvw, 2rem);
    text-align: center;
  }

}

@media only screen and (max-width: 800px) {
  .home-container {
    .img1 {
      display: none;
    }

    .hero1 {
      justify-content: center;
    }

    .hero1text {
      align-items: center;
      text-align: center;
    }

    .hero2text1 .heading {
      text-align: center;
    }

    .buttons {
      justify-content: center;
    }

    .footer {
      padding: 30px;
    }
  }
}
