.home-container {

  .hero1 {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero1text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .hero1text .heading {
    display: flex;
    flex-flow: column;
    width: fit-content;
    height: fit-content;
    font-size: 80px;
    color: white;
  }

  .hero1text .heading .title {
    font-weight: bold;
  }

  .hero1text .heading .subtitle {
    font-size: 40px;
  }

  .buttons {
    display: flex;
    width: 500px;
    height: 50px;
  }

  .buttons .button1 {
    width: max-content;
    font-size: 1.4rem;
    padding: 20px 30px;
  }

  .img1 {
    max-width: 400px;
    min-width: 300px;
    aspect-ratio: 1;
    width: 100%;

  }

  .hero2 {
    width: 100%;
    height: 85vh;
    display: flex;
    margin-top: 50px;
  }

  .hero2text1 {
    background-color: transparent;
    height: 400px;
    width: 600px;
    margin-top: 150px;
    margin-left: 90px;
  }

  .hero2text1 .heading {
    font-size: 40px;
    color: white;
    margin-left: 40px;
    width: fit-content;
    word-spacing: 10px;
    font-weight: 400;
  }

  .hero2text1 .text2 {
    color: white;
    margin-left: 40px;
    width: fit-content;
    word-spacing: 2px;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 20px;
    width: 500px;
    font-weight: 500;
  }

  .img2 {
    margin-left: 100px;
    border-top-right-radius: 40px;
  }

  .footer {
    margin: 20px;
    border-radius: var(--border-radius);
    background-color: var(--theme-container-background);
    border: var(--theme-container-border);
    color: var(--theme-0);
    display: flex;
    gap: 10px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
  }

  .footer .text1 {
    width: fit-content;
    font-size: 40px;
    font-weight: lighter;
  }

  .footer .text2 {
    width: fit-content;
    font-size: 40px;
    font-weight: 100;
  }

}

@media only screen and (max-width: 800px) {
  .img1 {
    display: none;
  }

  .hero1text {
    align-items: center;
  }

  .buttons {
    justify-content: center;
  }
}
