.button-component {
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  button {
    background: transparent;
    border: none;
  }
}
