.button-component {
  border-radius: var(--border-radius);
  border: none;
  color: var(--theme-1000);
  background-color: var(--theme-0);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: inherit;

  transition: color 0.3s ease, background-color 0.3s ease;

  cursor: pointer;
}

.button-component:not(:disabled):hover {
  color: var(--theme-0);
  background-color: var(--theme-1000);
}

.button-component[disabled] {
  filter: brightness(75%);
  cursor: default;
}
