
.modal-component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background: #000000aa;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 100%;
  max-width: 600px;
  background: #222222;
  padding: 20px;
  border-radius: var(--border-radius);
  margin: 10px;
}

