.mail-container {
  padding: 20px;
  height: 100%;
  gap: 20px;
  display: flex;

  .mail-container-left {
    display: flex;
    flex-flow: column;
    gap: 20px;
    flex-grow: 1;
  }

  .mail-container-right {
    display: flex;
    align-items: stretch;
    min-width: 300px;
  }

  .icon-component {
    font-size: 1.5rem;
  }

  input {
    margin: 20px;
  }
}
