
.project-template-container {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
  flex-grow: 1;
}

.project-template-sidebar {
  background: var(--theme-100-alpha);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 40px;
  color: var(--theme-1000);
}

.project-name {
  font-size: 1.3rem;
  align-self: center;
  font-weight: bold;
}

.template-image-drop {
  border: 2px dashed var(--theme-0);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-component {
    font-size: 4rem;
  }

  .template-image-instruction {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    font-size: 1.3rem;
  }
}

.template-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-image-ref {
  position: relative;
  width: 80%;
}

.csv-drop {
  border: 2px dashed var(--theme-0);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;

  .icon-component {
    font-size: 2rem;
  }

  .csv-instruction {
    display: flex;
    flex-flow: column;
    gap: 0.3rem;
    font-size: 1rem;
    text-align: center;
  }
}

.csv-visualizer-container {
  width: 100%;
  max-height: 180px;
  border-radius: 20px;
  display: grid;
  overflow: scroll;
  border: 1px solid white;
  grid-auto-rows: 30px;
}

.csv-header {
  background: var(--theme-0-alpha);
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.csv-datacell {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.project-subsection-heading {
  font-size: 1.3rem;
  padding: 10px 0;
}

.project-field-container {
  margin: 10px 0;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.project-field-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--theme-300);
}

.project-field {
  display: flex;
  gap: 10px;
}

.project-coord {
  position: absolute;
  width: 40px;
  height: 40px;
  color: var(--theme-1000);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-300);
  border-radius: 10px;
  transform: translate(-50%, -50%)
}

.project-save-fields {
  padding: 10px;
}
