
.projecttile-component {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 100%;

  .project-details {
    display: flex;
    flex-flow: column;
    gap: 5px;
  }

  .project-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .project-ceration {
    color: #cccccc;
  }
}
